body {
    background-color: azure;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

img {
    opacity: 0.5;
}

#joke {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#btn {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
