body {
    background-color: azure;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

img {
    opacity: 0.7;
    border-radius: 50%;
}

#joke {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn {
    font-weight: 500;
    background-color: bisque;
    color: blue;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
